.tableadvanced-inner {
	@tableadvanced-border-color: black;
	@tableadvanced-header-background-color: @item-color;
	@tableadvanced-header-color: @item-color-inverted;

    padding-top: 2rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    padding-left: 1rem;

	.tableadvanced-wrapper {
		overflow: hidden;
	}
	
	.tableadvanced-widget {

		overflow-x: auto;


		table, th, td {
			border: @tableadvanced-border-color;
			padding-bottom: @item-padding/2;
			table-layout: fixed;
		}

		table {
			width: 100%;
			border: @tableadvanced-border-color;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;

			tr {

				th {
					border: @tableadvanced-border-color;
					padding: @item-padding;
					background-color: @tableadvanced-header-background-color;
					color: @tableadvanced-header-color;
				}
				
				td {
					border: @tableadvanced-border-color;
					padding: @item-padding;
				}

				img {
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
				}
			}
		}
	}
}
